<div class="nk-sidebar" >
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu" style="background: #b8f3cea5!important;">
            <li class="nav-label">Main</li>
            <li><a href="/accounts/dashboard"><i class="mdi mdi-view-dashboard"></i> <span
                        class="nav-text">Dashboard</span> <img src="/static/assets/images/banner/giff.gif" width="30" alt="" class="dash-img"></a>
            </li>


            <li class="nav-label">Manage Order</li>
            <li><a href="/accounts/pending" class="sPen"><i class="mdi mdi-clock"></i> <span class="nav-text">Pending</span></a></li>
            <li><a href="/accounts/packed" class="sPac"><i class="mdi mdi-package-variant"></i> <span class="nav-text">Packed</span></a></li>
            <li><a href="/accounts/ontheway" class="sWay"><i class="mdi mdi-bike"></i> <span class="nav-text">On The Way</span></a>
            </li>
            <li><a href="/accounts/delivered" class="sDel"><i class="mdi mdi-clipboard-check"></i> <span class="nav-text">Delivered</span></a>
            </li>
            <li><a href="/accounts/canceled" class="sCan"><i class="mdi mdi-close-box"></i> <span class="nav-text">Canceled</span></a></li>

            <li class="nav-label">Manage Products</li>
            <li><a href="/accounts/addcategory" class="sAdc"><i class="mdi mdi-border-all"></i> <span class="nav-text">Add
                        Category</span></a></li>
            <li><a href="/accounts/addsubcategory" class="sAds"><i class="mdi mdi-view-list"></i> <span class="nav-text">Add Sub
                        Category</span></a></li>
            <li><a href="/accounts/addbrands" class="sbra"><i class="mdi mdi-ticket"></i> <span class="nav-text">Add
                        Brands</span></a></li>
            <li><a href="/accounts/addproduct" class="sAp"><i class="mdi mdi-database-plus"></i>
                <span class="nav-text">Add
                        Product</span></a></li>
            <li><a href="/accounts/allproduct" class="sVp"><i class="mdi mdi-database-minus"></i>
                <span class="nav-text">Views All
                        Product</span></a></li>
            <li><a href="/accounts/managepage" class="shome"><i class="mdi mdi-numeric-1-box"></i> <span class="nav-text">Best Seller</span></a>
            </li>
            <!-- <li><a href="/accounts/addgallery"><i class="mdi mdi-image-filter"></i> <span class="nav-text">Add Gallery Images</span></a></li> -->

            <li class="nav-label">Client Details</li>
            <li><a href="/accounts/userdetails" class="sUser"><i class="mdi mdi-account-group"></i> <span
                        class="nav-text">Users</span></a></li>
            <!-- <li><a href="/accounts/subscriptions"><i class="mdi mdi-account-heart"></i> <span class="nav-text">Subscriptions</span></a></li> -->
            <li><a href="/accounts/contactform" class="sOnta"><i class="mdi mdi-account-heart"></i> <span class="nav-text">Contact
                        Form</span></a></li>
        </ul>
    </div>
    <!-- #/ nk nav scroll -->
</div>