{% extends 'adminpannel/base.html' %}

{% block body %}
{% include 'adminpannel/loader.html' %}
<div id="main-wrapper">
    <!-- header -->
    {% include 'adminpannel/header.html' %}
    <!-- #/ header -->
    <!-- sidebar -->
    {% include 'adminpannel/sidebar.html' %}
    <!-- #/ sidebar -->
    <div class="content-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-around align-items-center">
                                <div>
                                    Add Category
                                </div>
                                <div>
                                    Size of Images: 440 x 234
                                </div>
                            </div>
                            <hr>
                            <form action=""  method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row d-flex  align-items-end">
                                    <div class="mx-2">
                                        <label for="">Category Title</label>
                                        <input type="text" class="form-control" name="title">
                                    </div>
        
                                    <div class="mx-2">
                                        <label for="">Image</label>
                                        <input type="file" class="form-control" name="images" >
                                    </div>
                                    <div class="d-flex align-items-end mx-2">
                                    
                                        <button style="height: 40px;" type="submit" class="btn btn-dark">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="active-member">
                                <div class="table-responsive">
                                    <table class="table table-xs">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Image</th>
                                                <th>Category Name</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for c in category %}
                                            <tr>
                                                
                                                <td><span>{{forloop.counter}}</span>
                                                </td>
                                            
                                                <td>
                                                    <img style="width: 50px;" src="{{c.category_image.url}}"
                                                        class=" m-r-2" alt="">
                                                </td>
                                                <td>{{c.category_name}}</td>
                                                <td>
                                                    {% if c.is_publish %}
                                                    <a href="{% url 'change_status' %}?type=category&uid={{c.uid}}"><i class="fa fa-circle text-success f-s-12 m-r-10"></i> Publish</a>
                                                    {% else %}
                                                    <a href="{% url 'change_status' %}?type=category&uid={{c.uid}}"><i class="fa fa-circle-o text-danger f-s-12 m-r-10"></i> Not Publish</a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger" href="{% url 'delcategory' c.uid %}"> <b>X</b></a>
                                        
                                                </td>
                                            </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    {% include 'adminpannel/copywrite.html' %}
</div>
{% endblock body %}