{% extends 'adminpannel/base.html' %}

{% block body %}
{% include 'adminpannel/loader.html' %}
<div id="main-wrapper">
    <!-- header -->
    {% include 'adminpannel/header.html' %}
    <!-- #/ header -->
    <!-- sidebar -->
    {% include 'adminpannel/sidebar.html' %}
    <!-- #/ sidebar -->
    <div class="content-body">
        <div class="container">
            <div class="row">
                {% for s in subscriber %}
                <div class="col-md-4 col-sm-4 p-1">
                    <div class="card p-1">
                        <span> {{s.email}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'adminpannel/copywrite.html' %}
</div>
{% endblock body %}