<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gautam Gems</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/favicon.webp" sizes="128x128"> -->

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="/static/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/vendor/fontawesome.min.css">
    <!-- <link rel="stylesheet" href="/static/assets/css/vendor/font-awesome-pro.min.css"> -->
    <link rel="stylesheet" href="/static/assets/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="/static/assets/css/vendor/customFonts.css">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="/static/assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/perfect-scrollbar.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/swiper.min.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/photoswipe.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/photoswipe-default-skin.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/owl.theme.default.min.css   q">
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <link rel="stylesheet" href="/static/assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/plugins.min.css"> -->
    <link rel="stylesheet" href="/static/assets/css/style.min.css">
    <style>
        .site-main-menu>ul>li>a {
            line-height: 1.5;
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            padding: 25px 15px !important;
            text-transform: uppercase;
            color: #412500;
        }
    </style>
</head>

<body>
    {% include 'base/header.html' %}

    {% block body %}

    {% endblock body %}


    <!-- Pop Up Render Slider  -->
    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <script src="/static/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/static/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="/static/assets/js/vendor/jquery-migrate-3.1.0.min.js"></script>
    <script src="/static/assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="/static/assets/js/plugins/select2.min.js"></script>
    <script src="/static/assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/static/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/static/assets/js/plugins/swiper.min.js"></script>
    <script src="/static/assets/js/plugins/slick.min.js"></script>
    <script src="/static/assets/js/plugins/mo.min.js"></script>
    <script src="/static/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <script src="/static/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/static/assets/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="/static/assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="/static/assets/js/plugins/jquery.matchHeight-min.js"></script>
    <script src="/static/assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="/static/assets/js/plugins/photoswipe.min.js"></script>
    <script src="/static/assets/js/plugins/photoswipe-ui-default.min.js"></script>
    <script src="/static/assets/js/plugins/jquery.zoom.min.js"></script>
    <script src="/static/assets/js/plugins/ResizeSensor.js"></script>
    <script src="/static/assets/js/plugins/jquery.sticky-sidebar.min.js"></script>
    <script src="/static/assets/js/plugins/product360.js"></script>
    <script src="/static/assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="/static/assets/js/plugins/jquery.scrollUp.min.js"></script>
    <script src="/static/assets/js/plugins/scrollax.min.js"></script>
    <script src="/static/assets/js/plugins/owl.carousel.min.js"></script>

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <script src="/static/assets/js/vendor/vendor.min.js"></script>
<script src="/static/assets/js/plugins/plugins.min.js"></script> -->

    <!-- Main Activation JS -->
    <script src="/static/assets/js/main.js"></script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 50,
            nav: true,
            center: true,
            dots: false,
            autoWidth: true,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1200: {
                    items: 4
                }
            }

        });
        $('.play').on('click', function () {
            owl.trigger('play.owl.autoplay', [60000])
        })
        $('.stop').on('click', function () {
            owl.trigger('stop.owl.autoplay')
        })
    </script>
</body>
</html>