<div class="col-lg-4 col-12 learts-mb-30">
    <div class="myaccount-tab-list nav">
        <a href="{% url 'myaccount' %}" >Dashboard <i
                class="far fa-home"></i></a>
        <a href="{% url 'orderdet' %}" >Orders <i class="far fa-file-alt"></i></a>
     
        <a href="{% url 'address' %}" >address <i class="far fa-map-marker-alt"></i></a>
        <a href="{% url 'account_info' %}" >Account Details <i class="far fa-user"></i></a>
        <a href="{% url 'userlogout' %}">Logout <i class="far fa-sign-out-alt"></i></a>
    </div>
</div>