{% extends 'base/base.html' %}
{% load static %}

{% block body %}

<div class="offcanvas-overlay"></div>
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

<!-- Page Title/Header Start -->
<div class="page-title-section section" data-bg-image="/static/assets/images//banner/order.jpg">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-title">
                    <h1 class="title">About</h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">About us</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Page Title/Header End -->

<!-- About Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row learts-mb-n30">
            <div class="col-lg-4 col-12 align-self-center learts-mb-30">
                <div class="about-us4">
                    <span class="sub-title">Gautam Gemstone</span>
                    <h2 class="title">Aspiration Inspired Happiness</h2>
                </div>
            </div>
            <div class="col-lg-8 col-12 learts-mb-30">
                <img src="/static/assets/images/about/about-6.webp" alt="about image">
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->

<!-- About Section Start -->


<section class="section section-padding">
    <div class="container">
        <div class="row learts-mb-n30">
            <div class="col-lg-12 learts-mb-30">
                <h2>BUY ONLINE CERTIFIED NATURAL GEMSTONES</h2>
                <p><b class="display-4 fw-bolder  text-warning ">J</b>EWELLERY SHOP INDIA is a Govt. of India recognized International Awards-Winner Export House promoted by the progressive and innovative entrepreneur in Jaipur, INDIA. We are Importer, Exporter, Wholesaler & Online Seller of Govt Lab Certified Natural Precious Gemstones and, Semi-Precious Gemstones, Birthstones, Gemstones Beads, custom made Gemstone Jewellery in Precious Natural Gemstones.</p>
            </div>
        </div>
        <div class="row learts-mb-n30">
            <h2 class="learts-mt-30">PACKING & INSURANCE</h2>
            <div class="col-lg-6 learts-mb-30">
                <p>We use export quality IRON boxes (6 inch long, 4 inch width, and 3 inch height) for stone / jewellery packing for every order. Inside the box we keep stone / jewellery with lab sealed plastic box and lab certificate with rapping of white Air Bubble Roll Sheet. It is very safe and no chance to damage stone / jewellery.  We use brown tape wrapping with our sealed for box outside packing.  For extra security, we send all our parcels with full value insurance to keep our customers tension free.</p>
            </div>
            <div class="col-lg-6 learts-mb-30">
                <img src="/static/assets/images/about/gemstone-packing-box.webp" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2>
                    Company profile
                </h2>
                <div class="container">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Business Type</th>
                                    <td><ul class="list-unstyled ">
                                        <li>Importer</li>
                                        <li>Exporter</li>
                                        <li>Manufacturer (Gemstone Cutting)</li>
                                        <li>Wholesaler</li>
                                        <li>Retailer</li>
                                        <li>Wholesale Supplier</li>
                                    </ul></td>
                                </tr>
                                <tr>
                                    <th>Industry</th>
                                    <td>Precious & Semi Precious Gemstones & Gemstone Jewelry</td>
                                </tr>
                                <tr>
                                    <th>Registered Address</th>
                                    <td>Johari Bazar, Jaipur - 302003, Rajasthan, INDIA</td>
                                </tr>
                                <tr>
                                    <th>Statutory Profile</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Import Export Code</th>
                                    <td>Import Export Code No.1313002101 issued by Directorate General of Foreign Trade</td>
                                </tr>
                                <tr>
                                    <th>GSTIN</th>
                                    <td>08AGEPN0205A1Z7</td>
                                </tr>
                                <tr>
                                    <th>TIN under Value Added Tax</th>
                                    <td>08732258214</td>
                                </tr>
                                <tr>
                                    <th>Central Sales Tax Registration Number</th>
                                    <td>+1234457889</td>
                                </tr>
                                <tr>
                                    <th>Banker</th>
                                    <td>
                                        <ul class="list-unstyled ">
                                            <li>ICICI Bank</li>
                                            <li>IDBI Bank</li>
                                            <li>IDBI Bank</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Registration Authority</th>
                                    <td>	Governemt of India</td>
                                  
                                </tr>
                                <tr>
                                    <th>Ownership & Capital</th>
                                    <td></td>
                                  
                                </tr>
                                <tr>
                                    <th>Year of Establishment</th>
                                    <td>2012</td>
                                  
                                </tr>
                                <!-- Add more rows as needed -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -------------------------- -->
<div class="section section-fluid section-padding pt-0">
    <div class="container">
        <div class="row learts-mb-n30">

            <div class="col-lg-6 col-12 text-center learts-mb-30">
                <img src="/static/assets/images/about/about-7.webp" alt="">
            </div>

            <div class="col-lg-6 col-12 align-self-center learts-mb-30">
                <div class="about-us4">
                    <div class="row learts-mb-n30">
                        <div class="col-xl-8 col-12 learts-mb-30">
                            <div class="desc mb-0">
                                <p>Creating things with our hands and utilizing helpful tools is a truly enjoyable
                                    process. It allows us to explore our creativity refine our ideas and diligently work
                                    towards perfecting our craft.</p>
                            </div>
                        </div>
                        <div class="col-12 learts-mb-30">
                            <div class="icon-box4 text-left justify-content-start text-start">
                                <div class="inner">
                                    <div class="content">
                                        <h6 class="title">FREE SHIPPING</h6>
                                        <p>All orders above ₹2000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 learts-mb-30">
                            <div class="icon-box4 text-left justify-content-start text-start">
                                <div class="inner">
                                    <div class="content">
                                        <h6 class="title">PHONE</h6>
                                        <p>Mobile: (+88) – 1990 – 6886 <br> Hotline: 1800 – 1102</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 learts-mb-30">
                            <div class="icon-box4 text-left justify-content-start text-start">
                                <div class="inner">
                                    <div class="content">
                                        <h6 class="title">EMAIL</h6>
                                        <p>contact@decorline.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- About Section End -->

<!-- Testimonial Section Start -->
<div class="section section-padding">
    <div class="container">

        <div class="section-title2 row justify-content-between align-items-center">
            <div class="col-md-auto col-12">
                <!-- Section Title Start -->
                <h2 class="title title-icon-right">We love our cilents</h2>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="testimonial-carousel">
            <div class="col">
                <div class="testimonial">
                    <p>
                        Bring out a new look to your space with 2 pieces of Retro Resin Elephant figures. They are
                        durable fashion vintage-style pieces made from high strength resin blending. They stand for
                        strength and wisdom and provide meaning anywhere. View our collection, and make your home
                        stylish and timeless.”</p>
                    <div class="author">
                        <img src="/static/assets/images/home-page/making_crafts/elephant.jpg" alt="elephant image">
                        <div class="content">
                            <h6 class="name">2pcs Retro Resin Elephant</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="testimonial">
                    <p>
                        Introducing our Standing Astronaut Statue—an awesome piece that expresses the essence of space
                        exploration. This statue has been painstakingly made to bring a little bit of the marvels of the
                        universe into your world. It is a symbol of human achievement and curiosity that provides you
                        with a unique and inspiring decor. Look for the stars at home.”</p>
                    <div class="author">
                        <img src="/static/assets/images/home-page/making_crafts/astronaut1-hover.jpg"
                            alt="astronaut images">
                        <div class="content">
                            <h6 class="name">Standing Astronaut Statue</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="testimonial">
                    <p>"Add enchantment to your decor with our Tree Couple Deer Black Ornament. This intricately
                        designed piece showcases a silhouette of two deer nestled under a tree, blending nature and
                        elegance. Crafted with precision, it serves as a captivating accent, bringing a touch of
                        woodland charm to your space. Elevate your surroundings with this unique and graceful ornament."
                    </p>
                    <div class="author">
                        <img src="/static/assets/images/home-page/making_crafts/deer-hover.jpg" alt="black deer images">
                        <div class="content">
                            <h6 class="name">Tree couple deer black ornament</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="testimonial">
                    <p>
                        "Discover elegance with our Two-piece Flirt Swan Figurine set. Graceful and meticulously
                        crafted, these swans bring a touch of romance to your decor. Perfectly designed, they embody
                        sophistication, making a charming addition to any space. Elevate your ambiance with the timeless
                        allure of these exquisite figurines."</p>
                    <div class="author">
                        <img src="/static/assets/images/home-page/making_crafts/duck1.jpg" alt="duck images">
                        <div class="content">
                            <h6 class="name">Two piece Flirt Swan Figurine</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Testimonial Section End -->

<!-- Instagram Section Start -->
<div class="section section-padding pt-0">
    <div class="container">
        <div class="row row-cols-lg-2 row-cols-1 learts-mb-n50">

            <div class="col align-self-center learts-mb-50 order-lg-2">
                <div class="section-title3 text-center m-0" data-bg-image="/static/assets/images/title/title-3.webp">
                    <h2 class="title">Follow us on Instagram</h2>
                    <p class="desc">@gemstone</p>
                </div>
            </div>

            <div class="col learts-mb-50">

                <div class="instafeed instafeed-carousel instafeed-carousel2">
                    <a class="instafeed-item" href="#">
                        <img src="/static/assets/images/decoo/insat1.webp" alt="instagram image" />
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="instafeed-item" href="#">
                        <img src="/static/assets/images/decoo/insta2.webp" alt="instagram image" />
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="instafeed-item" href="#">
                        <img src="/static/assets/images/decoo/insta3.webp" alt="instagram image" />
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="instafeed-item" href="#">
                        <img src="/static/assets/images/decoo/insta4.webp" alt="instagram image" />
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="instafeed-item" href="#">
                        <img src="/static/assets/images/decoo/insta5.webp" alt="instagram image" />
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>

            </div>

        </div>

    </div>
</div>
<!-- Instagram Section End -->
{% include 'base/footer.html' %}

{% endblock body %}