{% extends 'base/base.html' %}
{% load static %}

{% block body %}


<div class="offcanvas-overlay"></div>

<!-- Page Title/Header Start -->
<div class="page-title-section section" data-bg-image="/static/assets/images//banner/order.jpg">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-title">
                    <h1 class="title">Blog</h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Blog</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Page Title/Header End -->

<!-- Single Blog Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="single-blog">
                    <!-- <ul class="category justify-content-center">
                            <li><a href="#">Decor</a></li>
                            <li><a href="#">Kitchen</a></li>
                        </ul> -->
                    <h2 class="title text-center mb-5">{{blog.title}}</h2>

                    <div class="image mb-5">
                        <a href="{% url 'blog_view' blog.slug %}"><img src="{{blog.thumbnail.url}}"
                                alt="Blog Image"></a>
                    </div>
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 col-12 mx-auto">
                            <div class="content">
                                <ul class="meta justify-content-center">
                                    <li><i class="far fa-user"></i> By <a href="#">{{blog.author}}</a></li>
                                    <li><i class="far fa-calendar"></i><a href="#">{{blog.time_upload}}</a></li>
                                    <!-- <li><i class="far fa-comment"></i><a href="#">4 Comments</a></li> -->
                                    <li><i class="far fa-eye"></i> 201 views</li>
                                </ul>
                                <div class="desc">
                                    {{blog.overview|safe}}
                                </div>
                            </div>
                            <div class="blog-footer row g-0 justify-content-between align-items-center">
                                <div class="col-auto">
                                    <ul class="tags">
                                        <li class="icon"><i class="fas fa-tags"></i></li>
                                        <li><a href="#">design</a></li>
                                        <li><a href="#">fashion</a></li>
                                        <li><a href="#">learts</a></li>
                                    </ul>
                                </div>
                                <div class="col-auto">
                                    <div class="post-share">
                                        Share this post
                                        <span class="toggle"><i class="fas fa-share-alt"></i></span>
                                        <ul class="social-list">
                                            <li class="hintT-top" data-hint="Facebook"><a href="#"><i
                                                        class="fab fa-facebook-f"></i></a></li>
                                            <li class="hintT-top" data-hint="Twitter"><a href="#"><i
                                                        class="fab fa-twitter"></i></a></li>
                                            <li class="hintT-top" data-hint="Pinterest"><a href="#"><i
                                                        class="fab fa-pinterest-p"></i></a></li>
                                            <li class="hintT-top" data-hint="Google Plus"><a href="#"><i
                                                        class="fab fa-google-plus-g"></i></a></li>
                                            <li class="hintT-top" data-hint="Email"><a href="#"><i
                                                        class="far fa-envelope-open"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-9 col-lg-10 col-12 mx-auto">

                        <!-- <div class="blog-author">
                                <div class="thumbnail">
                                    <img src="/static/assets/images/comment/comment-1.webp" alt="">
                                    <div class="social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-linkedin"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="content">
                                    <a href="#" class="name">Owen Christ</a>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboruLorem ipsum dolor sit amet datat non proident</p>
                                </div>
                            </div> -->
                        <!-- <div class="related-blog">
                                <div class="block-title pb-0 border-bottom-0">
                                    <h2 class="title">Related Blog</h2>
                                </div>
                                <div class="row learts-mb-n40">
                                    <div class="col-md-6 col-12 learts-mb-40">
                                        <div class="blog">
                                            <div class="image">
                                                <a href="blog-details-right-sidebar.html"><img src="/static/assets/images/blog/s370/blog-2.webp" alt="Blog Image"></a>
                                            </div>
                                            <div class="content">
                                                <ul class="meta">
                                                    <li><i class="far fa-calendar"></i><a href="#">January 22, 2020</a></li>
                                                    <li><i class="far fa-eye"></i> 158 views</li>
                                                </ul>
                                                <h5 class="title mb-0"><a href="blog-details-right-sidebar.html">Tile Tray with Brass Handles</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12 learts-mb-40">
                                        <div class="blog">
                                            <div class="image">
                                                <a href="blog-details-right-sidebar.html"><img src="/static/assets/images/blog/s370/blog-3.webp" alt="Blog Image"></a>
                                            </div>
                                            <div class="content">
                                                <ul class="meta">
                                                    <li><i class="far fa-calendar"></i><a href="#">January 22, 2020</a></li>
                                                    <li><i class="far fa-eye"></i> 119 views</li>
                                                </ul>
                                                <h5 class="title mb-0"><a href="blog-details-right-sidebar.html">Dining Table Chairs Makeover</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        <!-- <div class="Comments-wrapper">
                                <div class="block-title pb-0 border-bottom-0">
                                    <h2 class="title">Comments <span class="text-muted">(4)</span></h2>
                                </div>
                                <ul class="comment-list">
                                    <li>
                                        <div class="comment">
                                            <div class="thumbnail">
                                                <img src="/static/assets/images/comment/comment-2.webp" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="name">Scott James</h4>
                                                <p>Thanks for always keeping your WordPress themes up to date. Your level of support and dedication is second to none.</p>
                                                <div class="actions">
                                                    <span class="date">April 22, 2020 at 2:10 am</span>
                                                    <a class="reply-link" href="#">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="child-comment">
                                            <li>
                                                <div class="comment">
                                                    <div class="thumbnail">
                                                        <img src="/static/assets/images/comment/comment-3.webp" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <h4 class="name">Edna Watson</h4>
                                                        <p>Thanks for always keeping your WordPress themes up to date. Your level of support and dedication is second to none.</p>
                                                        <div class="actions">
                                                            <span class="date">April 22, 2020 at 2:10 am</span>
                                                            <a class="reply-link" href="#">Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="comment">
                                            <div class="thumbnail">
                                                <img src="/static/assets/images/comment/comment-4.webp" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="name">Gerhard</h4>
                                                <p>Thanks for always keeping your WordPress themes up to date. Your level of support and dedication is second to none.</p>
                                                <div class="actions">
                                                    <span class="date">April 22, 2020 at 2:10 am</span>
                                                    <a class="reply-link" href="#">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment">
                                            <div class="thumbnail">
                                                <img src="/static/assets/images/comment/comment-1.webp" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="name">Owen Christ</h4>
                                                <p>Thank you very much!</p>
                                                <div class="actions">
                                                    <span class="date">April 22, 2020 at 2:10 am</span>
                                                    <a class="reply-link" href="#">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="block-title pb-0 border-bottom-0">
                                    <h2 class="title">Leave your thought here</h2>
                                </div>
                                <div class="comment-form">
                                    <form action="#">
                                        <div class="row learts-mb-n20">
                                            <div class="col-md-6 col-12 learts-mb-20">
                                                <input type="text" placeholder="Your name (*)">
                                            </div>
                                            <div class="col-md-6 col-12 learts-mb-20">
                                                <input type="text" placeholder="Mail (*)">
                                            </div>
                                            <div class="col-12 learts-mb-20">
                                                <textarea placeholder="Message"></textarea>
                                            </div>
                                            <div class="col-12 text-center learts-mb-20 learts-mt-20">
                                                <button class="btn btn-dark btn-outline-hover-dark">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- Single Blog Section End -->

{% include 'base/footer.html' %}

{% endblock %}