<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refunds policy</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <div class="text-center">
            <h3>
                Refund Policy:
            </h3>
        </div>
        <div>
            <p>
                We will notify you once we’ve received and inspected your return, and let you know if the refund was approved or not. If approved, you’ll be automatically refunded on your original payment method. Please remember it can take some time for your bank or credit card company to process and post the refund too.
            </p>
            <p>
                Address: Adora 4 
                402  arihant aanchal near dali bai crcl jodhpur, 342004.
            </p>
            <p>
                Phone: +919649982223
            </p>
            <p>Email:  decorline007@gmail.com</p>
        </div>
    </div>
</body>
</html>