<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Policy</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <div class="text-center">
            <h3>
                Shipping Policy
            </h3>
        </div>
        <div>
            <p>We use Delhivery /Bluedart/Ekart/Xpressbees to deliver all our goods.</p>
            <p>We offer the fastest "ORDER TO DELIVERY" time in the industry.</p>
            <p>We take Pride in the fact that we have over 99.98% on or before time deliveries.</p>
            <p>Takes 3-8 days for delivery</p>
            <p>One Day Delivery for NCR on request.</p>
            <p>For Metro Cities Delivery Time 3-5 Days</p>
            <p>For Tier II Cities Delivery Time 4-7 Days</p>
            <p>For Villages Delivery Time 7-10 Days</p>
            <p>If courier company delays shipment we are not responsible </p>
            <p>If the shipment is returned back to us you need to pay for shipping charges again</p>
            
        </div>
    </div>
</body>
</html>